/* 🔹 Contenedor del Canvas */
.canvas-container {
  flex: 1;
  display: flex;
  position: relative;
  background-color: #a09f9f;
  overflow: hidden;
  min-height: 0;
  width: 100%;
}

/* 🔹 Wrapper para asegurar que el canvas ocupe todo el espacio */
#canvas-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

/* 🔹 Canvas ocupando todo el espacio */
#canvas {
  width: 100%;
  height: 100%;
  display: block;
  min-width: 1px !important; /* 🔥 Evita valores negativos */
  min-height: 1px !important;
}