/* Contenedor de controles en la izquierda */
#left-controls {
    position: absolute;
    top: 2vh;
    left: 2vw;
    display: flex;
    align-items: center;
    gap: 1vw; /* Reduce la separación */
}

/* Contenedor de controles en la derecha */
#right-controls {
    position: absolute;
    top: 2vh;
    right: 2vw;
    display: flex;
    align-items: center;
    gap: 1vw;
    flex-wrap: wrap; /* Permite que los elementos se ajusten */
    max-width: 90vw; /* Evita que se salgan del viewport */
}

