.custom-dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
  cursor: pointer;
}

.selected-option {
  background-color: #2b2b2b; /* Dark background */
  border: none; /* No border */
  color: white; /* White text */
  padding: 1vh 2vw; /* Spacing similar to a button */
  text-align: center; /* Center text */
  text-decoration: none; /* No underline */
  display: block; /* Ensures full width */
  font-size: 1rem; /* Font size */
  margin: 1vh 0; /* Vertical spacing */
  cursor: pointer; /* Changes cursor to pointer */
  border-radius: 0.5rem; /* Rounded corners */
  width: 100%; /* Full width */
  box-sizing: border-box; /* Includes padding and borders in width */
  transition:
    background-color 0.3s ease,
    transform 0.2s ease; /* Smooth effect */
  font-family: Arial, sans-serif; /* Ensures consistent font family */
}

.selected-option:hover {
  background-color: #3a3a3a; /* Lighter background on hover */
  transform: scale(1.02); /* Zoom effect */
}

.options-container {
  display: none; /* Hidden by default */
  background-color: #2b2b2b; /* Dark background */
  color: white; /* White text */
  border: none; /* No border */
  border-radius: 0.5rem; /* Rounded corners */
  width: 100%; /* Full width */
  margin-top: 5px; /* Spacing between selected and options */
  z-index: 1000;
  box-sizing: border-box; /* Includes padding and borders in width */
}

.options-container.show {
  display: block; /* Show options when opened */
}

.dropdown-option {
  background-color: #2b2b2b; /* Dark background */
  color: white; /* White text */
  padding: 1vh 2vw; /* Spacing similar to a button */
  text-align: center; /* Center text */
  text-decoration: none; /* No underline */
  display: block; /* Ensures full width */
  font-size: 1rem; /* Font size */
  cursor: pointer; /* Changes cursor to pointer */
  border-radius: 0.5rem; /* Rounded corners */
  transition:
    background-color 0.3s ease,
    transform 0.2s ease; /* Smooth effect */
  border-bottom: 1px solid #3a3a3a; /* Divider between options */
  font-family: Arial, sans-serif; /* Ensures consistent font family */
}

.dropdown-option:last-child {
  border-bottom: none; /* Removes border from the last option */
}

.dropdown-option:hover {
  background-color: #3a3a3a;
  transform: scale(1.02);
}

.layerselectordropdown {
  width: 15rem;
}

.layerselectordropdown .selected-option {
  width: 100%;
}

.layerselectordropdown .options-container {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  width: 100%;
}

@media (max-width: 768px) {
  .layerselectordropdown {
    width: 100%;
  }

  .layerselectordropdown .selected-option {
    width: 100%;
    font-size: 0.9rem;
    padding: 0.8vh 1.5vw;
  }

  .layerselectordropdown .options-container {
    width: 100%;
    font-size: 0.9rem;
  }

  .dropdown-option {
    padding: 0.8vh 1.5vw;
  }
}
