/* left-bar.css */

/* Styles for the left sidebar */
.left-bar {
  display: flex; /* Uses flexbox to organize content */
  padding-top: 10px; /* Adds space at the top to separate from the top bar */
  flex-direction: column; /* Stacks items (buttons) vertically */
  align-items: center; /* Centers buttons horizontally */
  flex: 0 0 100px; /* Fixed width of 100px */
  background-color: #f1f1f1; /* Light gray background for the sidebar */
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2); /* Adds a shadow on the right for depth */
}

/* Buttons inside the left sidebar */
.icon-button {
  background-color: #ffffff; /* White background for buttons */
  border: none; /* Removes borders */
  padding: 5px; /* Adds internal spacing */
  margin-bottom: 10px; /* Adds space between buttons */
  cursor: pointer; /* Changes the cursor to a pointer on hover */
  border-radius: 5px; /* Rounds the button corners */
  width: 70px; /* Sets button width */
  height: 70px; /* Sets button height */
}

/* Hover effect for buttons */
.icon-button:hover {
  background-color: #f0f0f0; /* Light gray background on hover */
}

/* Images inside buttons */
.icon-img {
  width: 90%; /* Makes the image take up 90% of the button width */
  height: 90%; /* Makes the image take up 90% of the button height */
  object-fit: contain; /* Ensures the image maintains its proportions */
}
