.parameter-editor {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Aligns the label and the input */
  padding-bottom: 10px; /* Internal spacing below the parameter */
  margin-bottom: 10px; /* External spacing between parameters */
  border-bottom: 1px solid #ccc; /* Separator line */
  flex-wrap: nowrap; /* Prevents elements from wrapping to a new line */
}

.parameter-editor:last-child {
  border-bottom: none; /* Removes the separator line for the last parameter */
  margin-bottom: 0; /* Ensures no extra margin for the last parameter */
  padding-bottom: 0; /* Removes internal spacing for the last parameter */
}

.parameter-editor-label {
  font-weight: bold;
  color: #000000; /* Changes the text color to black */
  margin-right: 10px; /* Spacing between the label and the input */
  flex: 1; /* The label takes up the remaining space */
  text-align: left; /* Aligns the label text to the left */
  overflow: hidden; /* Hides text that doesn't fit */
}

.parameter-editor-input {
  background-color: #2b2b2b;
  border: 1px solid #444;
  color: white;
  padding: 0.5vh 1vw; /* More compact internal spacing */
  text-align: center;
  font-size: 0.9rem; /* Smaller font size */
  border-radius: 0.5rem;
  width: 80px; /* Fixed width for the input */
  box-sizing: border-box;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
  font-family: Arial, sans-serif;
  flex-shrink: 0; /* Prevents the input from shrinking */
}

/* Removes the arrows from number input */
.parameter-editor-input[type="number"]::-webkit-inner-spin-button,
.parameter-editor-input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.parameter-editor-input[type="number"] {
  -moz-appearance: textfield; /* Removes the arrows in Firefox */
}

.parameter-editor-input:focus {
  outline: none;
  background-color: #3a3a3a;
  border-color: #007bff;
  transform: scale(1.02);
}

.parameter-group {
  background-color: #f9f9f9; /* Light background for the group */
  border: 1px solid #ccc; /* Group border */
  border-radius: 5px; /* Rounded corners */
  padding: 10px; /* Internal spacing */
  margin-bottom: 20px; /* External spacing between groups */
}

.parameter-group-title {
  font-weight: bold;
  font-size: 1rem;
  color: #333; /* Text color for the title */
  margin-bottom: 10px; /* Spacing below the title */
}
