/* Botón de pausa */
/* 🔹 Botón de pausa */
.pause-button {
  background-color: #228b22;
  color: #ffffff; /* Texto blanco */
  border: 0.3vh solid #000000; /* Borde negro */
  width: 6vh;
  height: 6vh;
  border-radius: 1vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  box-shadow: 0.4vh 0.4vh 0.8vh rgba(0, 0, 0, 0.4);
  outline: none; /* Elimina borde de foco */
  padding: 0; /* Sin padding interno */
  cursor: pointer; /* Cursor de puntero */
}

.pause-button2 {
  background-color: #228b22; /* Verde por defecto */
  color: #ffffff; /* Texto blanco */
  border: 0.3vh solid #000000; /* Borde negro */
  padding: 0; /* Sin padding interno */
  cursor: pointer; /* Cursor de puntero */
  width: 6vh; /* Tamaño relativo */
  height: 6vh;
  border-radius: 1vh; /* Bordes redondeados */
  display: flex; /* Centrar contenido */
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  position: absolute; /* Sobre el canvas */
  top: 2vh;
  left: 2vw;
  box-shadow: 0.4vh 0.4vh 0.8vh rgba(0, 0, 0, 0.4); /* Sombra sutil */
  outline: none; /* Elimina borde de foco */
}

/* Hover effect */
.pause-button:hover {
  background-color: #006400;
}

/* Active effect */
.pause-button:active {
  background-color: #004d00;
}

/* Estado pausado */
.pause-button.paused {
  background-color: #f44336;
}

/* Icono dentro del botón */
.pause-button img {
  width: 60%;
  height: 60%;
}
