/* right-bar.css - Barra lateral derecha */
.right-bar {
  flex: 0 0 clamp(25vw, 25%, 40vw);
  background-color: #f1f1f1;
  box-shadow: -0.2vw 0 0.5vw rgba(0, 0, 0, 0.2);
  padding: 3vh;
  overflow-y: auto;
  max-height: 90vh;
}

.right-bar h2 {
  text-align: center;
  margin: 0;
  padding-bottom: 2vh;
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

.info-content {
  font-size: 5rem;
  font-weight: bold;
  color: #333;
}