.undo-button,
.redo-button {
  cursor: pointer; /* Changes cursor to pointer on hover */
  width: 45px; /* Fixed width for the circular button */
  height: 45px; /* Fixed height for the circular button */
  border-radius: 50%; /* Makes the button circular */
  display: flex; /* Uses flexbox for centering */
  align-items: center; /* Vertically centers content */
  justify-content: center; /* Horizontally centers content */
  transition: background-color 0.3s ease; /* Smooth color transition */
  position: absolute; /* Permite colocarlo sobre el canvas */
}

.undo-button {
  top: 10px;
  left: 70px;
}

.redo-button {
  top: 10px;
  left: 110px;
}

/* Icon inside the pause button */
.undo-button img,
.redo-button img {
  width: 60%; /* Scales the icon to fit the button */
  height: 60%; /* Scales the icon to fit the button */
}