/* 🔹 Contenedor de Undo y Redo */
.undo-redo-container {
  display: flex;
  align-items: center;
  gap: 1vw; /* Espacio uniforme entre botones */
  margin-left: 2vw; /* Separa Undo y Redo de Pause */
}

/* 🔹 Botones Undo y Redo */
.undo-button,
.redo-button {
  cursor: pointer;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 🔹 Asegurar que los iconos se ajusten bien */
.undo-button img,
.redo-button img {
  width: 60%;
  height: 60%;
}
