<!doctype html>
<html>

<head>
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
</head>

<body>
    <div id="top-bar">
        <button id="open-file-button">Open file</button>
    </div>
    <div id="bottom-screen" class="row container">
        <div id="left-bar" class="sidebar"> </div>
        <canvas id="canvas"> </canvas>
        <div id="right-bar" class="sidebar"> </div>
    </div>
</body>

</html>
