<!DOCTYPE html>
<html>

<head>
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
</head>

<body>
    <div id="top-bar">
        <button id="save-button" class="save-button" title="Save">Save</button>
        <button id="load-button" class="load-button" title="Load">Load</button>
        <div id="app-title">GEduNet</div>
    </div>
    <div id="bottom-screen" class="row container">
        <div id="left-bar" class="left-bar"></div>
        <div class="canvas-container">
            <canvas id="canvas"></canvas>
            <select id="layer-select" class="dropdown-menu">
                <option value="application">App Layer</option>
                <option value="transport">Transport Layer</option>
                <option value="network">Network Layer</option>
                <option value="link">Link Layer</option>
            </select>
        </div>
        <div id="right-bar" class="right-bar"></div>
    </div>
</body>

</html>
