<!doctype html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>

  <body>
    <div id="top-bar">
      <button id="new-button" class="new-button">New</button>
      <button id="save-button" class="save-button">Save</button>
      <button id="load-button" class="load-button">Load</button>
      <button id="print-button" class="load-button">Print</button>
      <div id="app-title">GEduNet</div>
      <button id="help-button" class="help-button">?</button>
    </div>

    <div id="settingsModal"></div>
    <div id="global-tooltip" class="global-tooltip"></div>

    <div id="bottom-screen" class="row container">
      <div id="left-bar" class="left-bar"></div>

      <div class="canvas-container">
        <div id="canvas-wrapper">
          <canvas id="canvas"></canvas>

          <div id="left-controls">
            <button id="pause-button" class="pause-button"></button>
            <div class="undo-redo-container">
              <i id="undo-button" class="undo-button"></i>
              <i id="redo-button" class="redo-button"></i>
            </div>
          </div>

          <div id="right-controls">
            <div id="speed-control-container"></div>
            <div id="layer-dropdown-container"></div>
          </div>
        </div>
      </div>

      <div id="right-bar" class="right-bar"></div>
    </div>
  </body>
</html>

