<!doctype html>
<html>

<head>
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
</head>

<body>
    <div id="top-bar">
        <button id="open-file-button">Open file</button>
    </div>
    <div id="bottom-screen">
        <div id="left-bar"> </div>
    </div>
</body>

</html>
