<!doctype html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>

  <body>
    <div id="top-bar">
      <button id="new-button" class="new-button" title="New">New</button>
      <button id="save-button" class="save-button" title="Save">Save</button>                               
      <button id="load-button" class="load-button" title="Load">Load</button>
      <button id="print-button" class="load-button" title="Print">Print</button>
      <div id="app-title">GEduNet</div>
      <button id="help-button" class="help-button" title="Help">?</button>
    </div>

    <div id="settingsModal"></div>

    <div id="bottom-screen" class="row container">
      <div id="left-bar" class="left-bar"></div>

      <div class="canvas-container">
        <div id="canvas-wrapper">
          <canvas id="canvas"></canvas>

          <!-- Contenedor de controles en la izquierda -->
          <div id="left-controls">
            <button id="pause-button" class="pause-button" title="Pause"></button>
            <div class="undo-redo-container">
              <i id="undo-button" class="undo-button" title="Undo"></i>
              <i id="redo-button" class="redo-button" title="Redo"></i>
            </div>
          </div>

          <!-- Contenedor de controles en la derecha -->
          <div id="right-controls">
            <div class="wheel-container">
              <div class="wheel-label">Speed</div>
              <div class="circular-slider">
                <input type="range" id="speed-wheel" min="0.5" max="4" step="0.1" value="1" />
              </div>
              <div class="value-display">1x</div>
            </div>

            <div class="layer-container">
              <select id="layer-select" class="dropdown-menu">
                <option value="application">App Layer</option>
                <option value="transport">Transport Layer</option>
                <option value="network">Network Layer</option>
                <option value="link">Link Layer</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div id="right-bar" class="right-bar"></div>
    </div>
  </body>
</html>

